---
import { slugify, formatDate } from '../js/utils'

import { Image } from 'astro:assets';

const { title, description, date, category, author, image} = Astro.props;
---

<header>
    <div class="container">
        <small>
            <span class="badge">{category}</span>
        </small>
        <h1 class="h2">{title}</h1>
        <p>by {author} • {formatDate(date)}</p>
    </div> 
    <Image src={image.src} alt={image.alt} width={1200} height={600} format='avif' quality={80} class="hero-image" />
</header>
